.flou {
	display: block;
	height: 400px;
  height: 1920;
	background-color: blue;
	  }

.img {
  padding: 30px;
  
}

.grid-container button {
   width: 130px;
   height: 40px;
   border-radius: 15px;
   margin: 0px 1750px;
   margin-top: -130px;
 }

.grid-container {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% ;
  text-align: right;
}
.grid-item {
  padding: 0px 630px;
  font-size: 20px;
  margin-top: -130px;
  text-align: right;
  color: white;
}
.back {
  display: block;
  width: 800px;
  background-color: blue;
  margin-top: 500px;
} 
.next {
  margin-top: 500px;
  display: block;
  background-color: blue;
  color: white;
  
}
.grids-container {
  display: grid;
  grid-template-rows: 120% 120% 120% 120% ;
  background-color: blue;
  padding: 20px 400px ;
  text-align: right;
  
}